body, html, .allHeight {
	height: 100%;
	overflow-y:hidden;
  	position: relative;
}

/* Text formatting */
h1 { font-family: 'Eczar',serif; }

h2 { font-family: 'Eczar',serif; }

p { font-family: 'Gentium Basic',serif; }

/* Images rendering */
.dot {
    height: 200px;
    width: 200px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    border-style:solid;
}

.circle {
  border-radius: 50%;
  display: inline-block;
  width: 10vw;
  height: 10vw;
  left: 40%;
  display: flex;
  /* width and height can be anything, as long as they're equal */
}

.square {
	width: 10vw;
	height: 10vw;
}

/*Layout classes*/
.fulldimensions { 
	padding: 0; 
	margin:0;
}

.centertext { text-align:center; }

.lefttext { text-align:left; }

.righttext { text-align:right; }

.inline-block {	display:inline-block; }

.hidden { display:none; }

.block { display:block; }

.scroll-div { overflow: auto; }

/* Height Classes */
.h10 { height:10%; }

.h30 { height:30%; }

.h90 { height: 90%; }

.h100 { height:100%; }

/*Width Classes */
.w10 { width: 10%; }

.w15 { width: 15%; }

.w20{ width: 20%; }

.w30{ width: 30%; }

.w40 { width:40%; }

.w45 { width:45%; }
.w50 {width: 50%; }

.w60{ width: 60%; }

.w70{ width:70%; }

.w80 { width:80%; }

.w95 { width:95%; }

.w100 {width:100%; }

/* Background */
.bg-bp-grad { background-image:linear-gradient(to right,#c9c9fa,#fcccdc); }

.bg-lightblue { background-color:#c9c9fa; }

.bg-lightpink { background-color:#fcccdc; }

.bg-white { background-color:#ffffff; }

.background {
  color: #999999;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

/* Forms */
.form-message {
	/* Should be used to give some spirit to the messages */
}
.form-element { margin: 1%; }

/* Templates Page Styling (for VysusInternal and VysusBase */
#header { height:7%; }
#footer { height: 6%; }

#contentBase {
	margin-top:1%;
	margin-bottom:1%;
	height: 83%;
}

.content-panel {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 7px;
	margin-left:2px;
	margin-right:2px;
	padding:1%;
}

/* For Qualifications, staff and job */
.data-box {
	padding:2%;
	width:100%;
	border-style: solid;
	border-width: 2px;
}

.green {
	border-color:green;
}

.red {
	border-color:red;
}

/* sidebar.xhtml */
.logout-button {
	position:absolute;
	bottom:5%;
	width:88%;
}

.sidebar-element {
	margin-top:5%;
	margin-bottom:5%;
	margin-right:0;
	margin-left:0;
	display:block;
}


/** TO CHECK BELOW **/

.smallScrollBar{  overflow:auto; }

.noSideScroll{ overflow-x:hidden; }