.circle {
  border-radius: 50%;
  display: inline-block;
  width: 10vw;
  height: 10vw;
  left: 40%;
  display: flex;
  /* width and height can be anything, as long as they're equal */
}

.square {
	width: 10vw;
	height: 10vw;
}

body, html, .allHeight {
	height: 100%;
	overflow-y:auto;
}

.background {
  color: #999999;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

.dot {
    height: 200px;
    width: 200px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    border-style:solid;
}

.plsWork {
  text-align: center
}

h1 {
  font-family: 'Eczar',serif;
}

h2 {
	font-family: 'Eczar',serif;
}

p {
  	font-family: 'Gentium Basic',serif;
}



.sidebar {
    background-color:#85E1E9;
    height: 100%;
}

.smallScrollBar{
  	overflow:auto;
}

.noSideScroll{
	overflow-x:hidden;
}

.defaultOpacity{
	opacity:100%;
}

/*Layout classes*/
.centertext {
  text-align:center;
}

.lefttext {
  text-align:left;
}

.textright {
  text-align:right;
}

.inline-block {
	display:inline-block;
}

.hidden {
	display:none;
}

.block {
	display:block;
}

/*Height classes - try to keep them in order*/
.h5 {
  height:5%;
  /*Overrides some bootstrap class: */
  margin-top:0;
  margin-bottom:0;
}

.h10 {
    height:10%;
}

.h30 {
    height:30%;
}

.h80 {
  height:80%;
}

.h85 {
	height:85%;
}

.h90 {
	height:90%;
}

.h100 {
    height:100%;
}

/*Width classes*/
.w5 { width: 5%; }

.w10{ width: 10%; }

.w15{ width: 15%; }

.w20{ width: 20%; }

.w30{ width: 30%; }

.w40 { width:40%; }

.w60{ width: 60%; }

.w70{ width: 70%; }

.w80 { width:80%; }

.w90 { width:90%; }

.w100{ width:100%; }

/*Styling*/
.border-Solid {
    border-style: solid;
}

.paddingLeft5px {
	padding-left:5px;
}

.profile-Img {
    padding:10%;
    height:90%;
    width:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

/*Background Styles*/

.bg-bp-grad {
      background-image:linear-gradient(to right,#c9c9fa,#fcccdc);
}

.bg-lightblue {
    background-color:#c9c9fa;
}

.bg-lightpink {
    background-color:#fcccdc;
}

.bg-lightgreen {
    background-color:#ead084;
}

.bg-white {
  background-color:#ffffff;
}

/* generic styling */
.form-message {
	/* Should be used to give some spirit to the messages */
}
.form-element {
	margin: 1%;
}
.data-box {
	width:100%;
	border-style: solid;
	border-width: 2px;
}

.content-panel {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 7px;
	margin-left:2px;
	margin-right:2px;
	padding:1%;
}

#header {
	height:7%;
}
#footer {
	height: 6%;
}
#contentBase {
	margin-top:1%;
	margin-bottom:1%;
	height: 83%;
}

/* index.xhtml styling */
#central-index-div {
	padding-top:10%;
	padding-right:10%;
	padding-left:10%;
}
	
/* signup.xhtml styling */
#signup-form-column {
	margin-top:3%;
	padding:1%;
}

/* sidebar.xhtml styling */
.sidebar-element {
	margin-top:3%;
	margin-bottom:3%;
	margin-right:0;
	margin-left:0;
	display:block;
}

/* profile.xhtml styling */
